img {
  width: 100%;
}

footer {
  color: black;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  padding-top: 200px;
}

/********************* MOBIL *****************************/

@media only screen and (max-width: 600px) {
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    border: none;
    overflow-x: auto;
    background-color: #93a19f;
  }

  nav a {
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: medium;
    line-height: 1.2;
  }

  nav a:hover {
    color: orange;
  }

  body {
    background-color: #93a19f;
  }

  #second_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 58px;
  }

  #second_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
  }

  #third_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 58px;
  }

  #fourth_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
  }

  #fourth_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 58px;
  }

  #third_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
  }
}

/**************** TABLET **********************/

@media only screen and (min-width: 600px) {
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    border: none;
    overflow-x: auto;
    background-color: #93a19f;
  }

  nav a {
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: medium;
    line-height: 1.2;
  }

  nav a:hover {
    color: orange;
  }

  body {
    background-color: #93a19f;
  }

  #second_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 73px;
  }

  #second_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
  }

  #third_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 73px;
  }

  #third_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
  }

  #fourth_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 73px;
  }

  #fourth_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
  }
}

/**************** WEB **********************/

@media only screen and (min-width: 990px) {
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 70px;
    border: none;
    overflow-x: auto;
    background-color: #93a19f;
  }

  nav a {
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: medium;
    line-height: 1.2;
  }

  nav a:hover {
    color: orange;
  }

  body {
    background-color: #93a19f;
  }

  #second_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 90px;
  }

  #second_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
  }

  #third_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 90px;
  }

  #third_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
  }

  #fourth_section h1 {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: "Chakra Petch", sans-serif;
    font-size: 90px;
  }

  #fourth_section p {
    color: white;
    font-family: "Courier New", Courier, monospace;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
  }
}
